<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.Mapper.BillOfMaterialsMapper">
    <!-- BOM 정보와 원자재 정보를 조회하는 SQL -->
    <resultMap id="billOfMaterialsResultMap" type="com.mrbean.billofmaterials.BillOfMaterialsVO">
        <id property="bomId" column="bom_id"/>
        <result property="rmCode" column="rm_code"/>
        <result property="bomName" column="bom_name"/>
        <result property="bomRatio" column="bom_ratio"/>
        <result property="bomDescription" column="bom_description"/>
    </resultMap>

    <!-- BOM 입력 SQL -->
    <insert id="insertBillOfMaterials" parameterType="com.mrbean.billofmaterials.BillOfMaterialsDTO">
        INSERT INTO bill_of_materials (
            bom_id,
            bom_name,
            bom_ratio,
            bom_description,
            rm_code
        )
        VALUES (
            #{bomId},
            #{bomName},
            #{bomRatio},
            #{bomDescription},
            #{rmCode}
        )
    </insert>

    <!-- 마지막 BOM ID 조회 -->
    <select id="getLastBomId" resultType="String">
        SELECT bom_id
        FROM bill_of_materials
        ORDER BY CAST(REPLACE(bom_id, 'BOM', '') AS SIGNED) DESC
        LIMIT 1
    </select>

</mapper>
