<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.Mapper.BillOfMaterialsMapper">
    <!-- BOM 정보와 원자재 정보를 조회하는 SQL -->
    <resultMap id="billOfMaterialsResultMap" type="com.mrbean.billofmaterials.domain.BillOfMaterialsDTO">
        <id property="bomId" column="bom_id"/>
        <result property="rmCode" column="rm_code"/>
        <result property="bomName" column="bom_name"/>
        <result property="bomRatio" column="bom_ratio"/>
        <result property="bomDescription" column="bom_description"/>
        <result property="rmName" column="rm_name"/>
    </resultMap>

    <!-- BOM 입력 SQL -->
    <insert id="insertBillOfMaterials" parameterType="com.mrbean.billofmaterials.domain.BillOfMaterialsVO">
        INSERT INTO bill_of_materials (
            bom_id,
            bom_name,
            bom_ratio,
            bom_description,
            rm_code
        )
        VALUES (
            #{bomId},
            #{bomName},
            #{bomRatio},
            #{bomDescription},
            #{rmCode}
        )
    </insert>

    <!-- BOM 전체 리스트 조회 -->
    <select id="selectAllBillOfMaterials" resultMap="billOfMaterialsResultMap">
        SELECT
        bom.bom_id,
        bom.rm_code,
        bom.bom_name,
        bom.bom_ratio,
        bom.bom_description,
        rm.rm_name AS rm_name
        FROM bill_of_materials bom
        JOIN raw_materials rm ON bom.rm_code = rm.rm_code
    </select>


    <!-- 마지막 BOM ID 조회 -->
    <select id="getLastBomId" resultType="String">
        SELECT bom_id
        FROM bill_of_materials
        ORDER BY CAST(REPLACE(bom_id, 'BOM', '') AS SIGNED) DESC
        LIMIT 1
    </select>

    <!-- 특정 BOM 정보를 조회 -->
    <select id="selectBomDetails" parameterType="String" resultMap="billOfMaterialsResultMap">
        SELECT
            bom_id,
            rm_code,
            bom_name,
            bom_ratio,
            bom_description
        FROM
            bill_of_materials
        WHERE
            bom_id = #{bomId}
    </select>

    <update id="updateBillOfMaterials" parameterType="com.mrbean.billofmaterials.domain.BillOfMaterialsVO">
        UPDATE bill_of_materials
        SET
        bom_name = #{bomName},
        bom_ratio = #{bomRatio},
        bom_description = #{bomDescription},
        rm_code = #{rmCode}
        WHERE
        bom_id = #{bomId}
    </update>

    <delete id="deleteBillOfMaterials" parameterType="String">
        DELETE FROM bill_of_materials
        WHERE bom_id = #{bomId}
    </delete>

</mapper>
