<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.mappers.finishedProductsControlMapper">

	<resultMap type="com.mrbean.finishedproductscontrol.FinishedProductsControlVO" id="FPCMap">
		<id property="fpcBno" column="fpc_bno"/> <!-- PK 값 -->
		<result property="fpcDate" column="fpc_date"/>
		<result property="fpcLotbno" column="fpc_lotbno"/>
		<result property="pCode" column="p_code"/>
		<result property="fpcExpirydate" column="fpc_expirydate"/>
		<result property="fpcCheckdate" column="fpc_checkdate"/>		
		<result property="fpcQualityCheck" column="fpc_quality_check"/>
		<result property="fpcStatus" column="fpc_status"/>
		<result property="fpcYield" column="fpc_yield"/>
		<result property="planId" column="plan_id"/>
		<result property="planQty" column="plan_qty"/>
		<result property="fpcQuantity" column="fpc_quantity"/>
		
		<collection property="workOdersList" resultMap="workOdersMap"/>
		<collection property="productsList" resultMap="productsMap"/>
	</resultMap>
		
	<resultMap type="com.mrbean.productionplan.ProductionPlanVO" id="productionPlanMap">
		<result property="planId" column="plan_id"/>
		<result property="planQty" column="plan_qty"/>
	</resultMap>
	
	<resultMap type="com.mrbean.products.ProductsVO" id="productsMap">
		<result property="pCode" column="p_code"/>
		<result property="bomId" column="bom_id"/>
	</resultMap>
	
	
	
	



	<!-- 완제품 검사 관리 목록 -->
    <select id="getFinishedProductsControlList" resultMap="FPCMap">
        SELECT fpc.fpc_bno, 
        	   fpc.fpc_date,
        	   fpc.fpc_lotbno,
        	   p.p_code,
        	   fpc.fpc_expirydate,
        	   fpc.fpc_checkdate,
        	   fpc.fpc_quality_check,
        	   fpc.fpc_status,
        	   fpc.fpc_yield
        	   plan.plan_id
        	   plan.plan_qty
        	   fpc.fpc_yield
        	   FROM finished_products_control fpc
        	   JOIN products p on p.p_code = fpc.p_code
        	   JOIN production_plan plan on plan.plan_id = fpc.plan_id
    </select>
    
    
    
    
    
    
    
    
    
    
    
    
    
</mapper>
