<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.mappers.finishedProductsControlMapper">

	<resultMap type="com.mrbean.finishedproductscontrol.FinishedProductsControlVO" id="FPCMap">
		<id property="fpcBno" column="fpc_bno"/> <!-- PK 값 -->
		<result property="fpcDate" column="fpc_date"/>
		<result property="fpcLotbno" column="fpc_lotbno"/>
		<result property="pCode" column="p_code"/>
		<result property="fpcExpirydate" column="fpc_expirydate"/>
		<result property="fpcCheckdate" column="fpc_checkdate"/>		
		<result property="fpcQualityCheck" column="fpc_quality_check"/>
		<result property="fpcStatus" column="fpc_status"/>
		<result property="fpcYield" column="fpc_yield"/>
		<result property="planId" column="plan_id"/>
		<result property="fpcQuantity" column="fpc_quantity"/>
		
		<collection property="productionPlanList" resultMap="productionPlanMap"/>
		<collection property="productsList" resultMap="productsMap"/>
	</resultMap>
		
	<resultMap type="com.mrbean.productionplan.ProductionPlanVO" id="productionPlanMap">
		<result property="planId" column="plan_id"/>
		<result property="planQuantity" column="plan_quantity"/>
	</resultMap>
	
	<resultMap type="com.mrbean.products.ProductsVO" id="productsMap">
		<result property="pCode" column="p_code"/>
		<result property="pName" column="p_name"/>
		<result property="bomId" column="bom_id"/>
	</resultMap>
	
	
	
	



	<!-- 완제품 검사 관리 목록 -->
    <select id="getFinishedProductsControlList" resultMap="FPCMap">
        SELECT fpc.fpc_bno, 
        	   fpc.fpc_date,
        	   fpc.fpc_lotbno,
        	   p.p_name,
        	   fpc.fpc_expirydate,
        	   fpc.fpc_checkdate,
        	   fpc.fpc_quality_check,
        	   fpc.fpc_status,
        	   fpc.fpc_yield,
        	   plan.plan_quantity,
        	   fpc.fpc_quantity
		FROM finished_products_control fpc
   	    JOIN products p on p.p_code = fpc.p_code
   	    JOIN production_plan plan on plan.plan_id = fpc.plan_id
    </select>
    
    
    <!-- 품질 검사 상태 업데이트 -->
    <update id="updateQualityCheck" parameterType="map">
        UPDATE finished_products_control
        SET fpc_quality_check = #{fpcQualityCheck}
        WHERE fpc_bno = #{fpcBno}
    </update>

    <!-- 상태 업데이트 -->
    <update id="updateStatus" parameterType="map">
        UPDATE finished_products_control
        SET fpc_status = #{fpcStatus}
        WHERE fpc_bno = #{fpcBno}
    </update>
    
    <!-- 원자재 검사 목록 삭제 -->
    <delete id="deleteRawMaterial">
    	DELETE FROM finished_products_control
    	WHERE fpc_bno = #{fpcBno}
    </delete>
    
    
    <insert id="insertFinishedProduct" parameterType="map">
    INSERT INTO finished_product_control (fpcLotbno, fpcDate, fpcExpirydate, plan_id, plan_quantity)
	VALUES (
	    CONCAT(#{pCode}, '-', #{wCode}, '-', DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(#{fplBatch}, 3, '0')),
	    NOW(),
	    DATE_ADD(NOW(), INTERVAL 1 YEAR),
	    (SELECT plan_id FROM production_plan WHERE plan_id = #{planId}),
	    (SELECT plan_quantity FROM production_plan WHERE plan_id = #{planId})
	);
    </insert>
    
    
    
    
    
    
    
</mapper>
