<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.mappers.productionplanMapper">

	<select id="getLastNumberForDate" resultType = "String">
        SELECT plan_no
        FROM production_plan
        WHERE plan_no LIKE CONCAT('WO-', #{date}, '-%')
        ORDER BY plan_no DESC 
        LIMIT 1	
	</select>
	
	
	<insert id="insertPP" parameterType="com.mrbean.productionplan.ProductionPlanVO">
	    INSERT INTO production_plan(
	        plan_no,
	        plan_type,
	        plan_start_date,
	        plan_end_date,
	        product_code,
	        bom_code,
	        plan_quantity,
	        plan_remark,
	        plan_created_by,
	        plan_status,
	        plan_priority
	    ) VALUES(
	        #{planNumber},  <!-- planNumber -> plan_no로 매핑 -->
	        #{planType},    <!-- planType -> plan_type로 매핑 -->
	        #{planStartDate},  <!-- planStartDate -> plan_start_date로 매핑 -->
	        #{planEndDate},    <!-- planEndDate -> plan_end_date로 매핑 -->
	        #{productCode},    <!-- productCode -> product_code로 매핑 -->
	        #{bomCode},        <!-- bomCode -> bom_code로 매핑 -->
	        #{planQuantity},   <!-- planQuantity -> plan_quantity로 매핑 -->
	        #{remark},         <!-- remark -> plan_remark로 매핑 -->
	        #{createdBy},      <!-- createdBy -> plan_created_by로 매핑 -->
	        #{status},         <!-- status -> plan_status로 매핑 -->
	        #{priority}        <!-- priority -> plan_priority로 매핑 -->
	    )
	</insert>



 
    
    
    
    
    
    
    
</mapper>
