<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbean.products.productsMapper">

    <!-- 완제품 정보를 조회할 때 사용할 resultMap (선택 사항) -->
    <resultMap id="productResultMap" type="com.mrbean.products.ProductsVO">
        <result property="pCode" column="p_code"/>
        <result property="pName" column="p_name"/>
        <result property="pDescription" column="p_description"/>
        <result property="rmCode" column="rm_code"/>
        <result property="bomId" column="bom_id"/>
    </resultMap>

    <!-- BOM 목록을 가져오는 쿼리 (bom_id와 bom_name을 반환) -->
    <select id="getBomListForDropdown" resultType="com.mrbean.billofmaterials.BillOfMaterialsVO">
        SELECT bom_id, bom_name
        FROM bill_of_materials
    </select>

    <!-- 완제품을 등록하는 쿼리 -->
    <insert id="insertProduct" parameterType="com.mrbean.products.ProductsVO">
        INSERT INTO products (p_code, p_name, p_description, bom_id)
        VALUES (#{pCode}, #{pName}, #{pDescription}, #{bomId})
    </insert>

</mapper>
