<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.mappers.productionplanMapper">

	<!-- ResultMap 정의 -->
	<resultMap id="ProductionPlanVOResultMap" type="com.mrbean.productionplan.ProductionPlanVO">
	    <result property="planId" column="plan_id"/>
	    <result property="planNumber" column="plan_no"/>
	    <result property="planType" column="plan_type"/>
	    <result property="planStartDate" column="plan_start_date"/>
	    <result property="planEndDate" column="plan_end_date"/>
	    <result property="pName" column="product_name"/>
	    <result property="bomCode" column="bom_code"/>
	    <result property="planQuantity" column="plan_quantity"/>
	    <result property="plStatus" column="plan_status"/>
	    <result property="remark" column="plan_remark"/>
	    <result property="createdBy" column="plan_created_by"/>
	</resultMap>


	<select id="getLastNumberForDate" resultType = "String">
        SELECT plan_no
        FROM production_plan
        WHERE plan_no LIKE CONCAT('PO-', #{date}, '-%')
        ORDER BY plan_no DESC 
        LIMIT 1	
	</select>
	
	
	<insert id="insertPP" parameterType="com.mrbean.productionplan.ProductionPlanVO">
	    INSERT INTO production_plan(
	        plan_no,
	        plan_type,
	        plan_start_date,
	        plan_end_date,
	        product_name,
	        bom_code,
	        plan_quantity,
	        plan_remark,
	        plan_created_by,
	        plan_status
	    ) VALUES(
	        #{planNumber},  
	        #{planType},    
	        #{planStartDate},  
	        #{planEndDate},    
	        #{pName},    
	        #{bomCode},        
	        #{planQuantity},   
	        #{remark},         
	        #{createdBy},      
	        #{plStatus}         
	    )
	</insert>
	
	<select id="selectPP" resultMap="ProductionPlanVOResultMap">
		SELECT *
		FROM production_plan
		ORDER BY plan_no DESC;
	</select>




	<select id="selectPPM" resultMap="ProductionPlanVOResultMap">
	    SELECT *
	    FROM production_plan
	    <where>
	        <if test="plStatus != null">
	            AND plan_status = #{plStatus, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
	        </if>
	        <if test="planType != null and planType != ''">
	            AND plan_type = #{planType}
	        </if>
	        <if test="pName != null and pName != ''">
	            AND product_name = #{pName}
	        </if>
	    </where>
	    ORDER BY plan_no DESC
	</select>

 
 	<delete id="deletePP">
 		DELETE FROM production_plan WHERE plan_id = #{planId}
 		
 	</delete>
 	
    <!-- 작업상태 변경 -->
    <update id="updatePlanStatus">
	    UPDATE production_plan 
	    SET plan_status = #{plStatus}
	        <!-- work_updated_at = #{workUpdatedAt}, -->
	        <!-- work_start_time = #{workStartTime}, -->
	        <!-- work_end_time = #{workEndTime} -->
	    WHERE plan_id = #{planId}
    </update>
    
    
    
    
    
    
    
</mapper>
