<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.mappers.rawMaterialsQualityControlMapper">

	<resultMap type="com.mrbean.rawmaterialsqualitycontrol.RawMaterialsQualityControlVO" id="RMQCMap">
		<id property="rqcBno" column="rqc_bno"/> <!-- PK 값 -->
		<result property="rmlNo" column="rml_no"/>
		<result property="rqcDate" column="rqc_date"/>
		<result property="rqcQualityCheck" column="rqc_quality_check"/>
		<result property="rqcStatus" column="rqc_status"/>
		<result property="workOrderNo" column="work_order_no"/>
			
		<collection property="rawMaterialsLotList" resultMap="rawMaterialsLotMap"/>
		<collection property="workOrdersList" resultMap="workOrdersMap"/>
	</resultMap>
		
	<resultMap type="com.mrbean.rawmaterialslot.RawMaterialsLotVO" id="rawMaterialsLotMap">
		<result property="rmlNo" column="rml_no"/>
		<result property="rmCode" column="rm_code"/>
		<result property="rmlDate" column="rml_date"/>
	</resultMap>
	

	<resultMap type="com.mrbean.workorders.WorkOrdersVO" id="workOrdersMap">
		<result property="workOrderNo" column="work_order_no"/>
		<result property="workQuantity" column="work_quantity"/>
	</resultMap>





	<!-- 원자재 검사 관리 목록 -->
    <select id="getRawMaterialsQualityControlList" resultMap="RMQCMap">
        SELECT rqc.rqc_bno, 
        	   rml.rml_date,
        	   rml.rml_no,
        	   rml.rm_code,
        	   rqc.rqc_date,
        	   rqc.rqc_quality_check,
        	   rqc.rqc_status,
        	   work.work_order_no,
        	   work.work_quantity
        	   FROM rawmaterials_quality_control rqc
        	   JOIN rawmaterials_lot rml on rqc.rml_no = rml.rml_no
        	   JOIN work_orders work on rqc.work_order_no = work.work_order_no
    </select>
    
    
    <!-- 품질 검사 상태 업데이트 -->
    <update id="updateQualityCheck" parameterType="map">
        UPDATE rawmaterials_quality_control
        SET rqc_quality_check = #{rqcQualityCheck}
        WHERE rqc_bno = #{rqcBno}
    </update>

    <!-- 상태 업데이트 -->
    <update id="updateStatus" parameterType="map">
        UPDATE rawmaterials_quality_control
        SET rqc_status = #{rqcStatus}
        WHERE rqc_bno = #{rqcBno}
    </update>
    
    <!-- 원자재 검사 목록 삭제 -->
    <delete id="deleteRawMaterial">
    	DELETE FROM rawmaterials_quality_control
    	WHERE rqc_bno = #{rqcBno}
    </delete>
    
    
    
    
    
    
    
    
    
    
</mapper>
