<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbean.mappers.userMapper">

    <!-- userVO와 매핑 -->
    <resultMap type="com.mrbean.user.userVO" id="memberMap">
        <id property="uUserid" column="u_userid"/> <!-- 기본키 매핑 -->
        <result property="uUsername" column="u_username"/>
        <result property="uEmail" column="u_email"/>
        <result property="uPhoneNumber" column="u_phonenumber"/>
        <result property="uPasswordhash" column="u_passwordhash"/>
        <result property="uRoleenum" column="u_roleenum"/>
        <result property="uCreatedBy" column="u_createdby"/>
        <result property="uCreatedAt" column="u_createdat"/> <!-- 수정 -->
        <result property="uUpdatedAt" column="u_updatedat"/>
    </resultMap>

    <!-- 사용자 단일 조회 -->
    <select id="readUser" resultMap="memberMap">
        SELECT 
            u_userid, u_username, u_email, u_phonenumber, 
            u_passwordhash, u_roleenum, u_createdby, u_createdat, u_updatedat
        FROM 
            users
        WHERE 
            u_userid = #{userId}
    </select>

    <!-- 사용자 목록 조회 -->
    <select id="readAllUsers" resultMap="memberMap">
        SELECT 
            u_userid, u_username, u_email, u_phonenumber, 
            u_passwordhash, u_roleenum, u_createdby, u_createdat, u_updatedat
        FROM 
            users
    </select>

    <!-- 사용자 추가 -->
    <insert id="createUser" parameterType="com.mrbean.user.userVO">
        INSERT INTO users (u_userid, u_username, u_email, u_phonenumber, 
            u_passwordhash, u_roleenum, u_createdby, u_createdat, u_updatedat)
        VALUES (#{uUserid}, #{uUsername}, #{uEmail}, #{uPhoneNumber}, 
            #{uPasswordhash}, #{uRoleenum}, #{uCreatedBy}, #{uCreatedAt}, #{uUpdatedAt})
    </insert>

    <!-- 사용자 업데이트 -->
    <update id="updateUser" parameterType="com.mrbean.user.userVO">
        UPDATE users
        SET 
            u_username = #{uUsername},
            u_email = #{uEmail},
            u_phonenumber = #{uPhoneNumber},
            u_passwordhash = #{uPasswordhash},
            u_roleenum = #{uRoleenum},
            u_updatedat = #{uUpdatedAt}
        WHERE 
            u_userid = #{uUserid}
    </update>

</mapper>
